In [7]:
import pandas as pd
import numpy as np

In [8]:
data = pd.read_csv('../../data/attacks.csv', encoding = 'utf-8', encoding_errors = 'ignore')

In [9]:
pd.set_option('display.max_columns', None)

data.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonMcNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [10]:
data.shape

(25723, 24)

In [11]:
data.drop_duplicates().shape == data.shape

False

In [12]:
data.drop_duplicates(inplace=True)

In [13]:
data.shape

(6312, 24)

In [14]:
porcent_null = (data.isnull().sum(axis = 1) / data.shape[1]) * 100  # se suman los nulos por las filas y esa suma se divide entre el numero total de columnas del dataframe, para obtener el porcentaje de valores nulos en cada fila 
porcent_bool = porcent_null > 75        # si el valor de una fila es True, significa que mas del 75% de valores de esa fila son nulos
data = data.loc[~porcent_bool, :]       # seleccionamos con loc las filas que no tengan mas del 75% de nulos invirtiendo 'porcent_bool' con '~', y todas las columnas con ':'

In [15]:
data.shape

(6302, 24)

In [16]:
data = data.reset_index(drop = True)    # aqui reseteamos los indices y ponemos la condicion 'drop = True', para borrar los indices anteriores
data.tail()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
6297,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0,NaN,NaN
6298,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,NaN,NaN
6299,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN
6300,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8N, 79W",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,NaN,NaN
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN

In [17]:
data['Type'].value_counts()

Type
Unprovoked      4595
Provoked         574
Invalid          547
Sea Disaster     239
Boating          203
Boat             137
Questionable       2
Boatomg            1
Name: count, dtype: int64

In [18]:
# Creo un diccionario con los valores a reemplazar y el valor nuevo
reempl = {'Boat': 'Boating', 'Boatomg': 'Boating'}

# Reemplazo los valores en la columna "Type"
data['Type'] = data['Type'].replace(reempl)

In [19]:
data['Type'].value_counts()

Type
Unprovoked      4595
Provoked         574
Invalid          547
Boating          341
Sea Disaster     239
Questionable       2
Name: count, dtype: int64

In [20]:
valor = 'Questionable'
filas_coincidentes = data[data['Type'] == valor].index          # filtrar por indice
data_seleccionado = data.loc[filas_coincidentes, ['Activity', 'Injury', 'Species ']]

data_seleccionado.head()

   Activity                        Injury                         Species
16  Surfing  No injury, surfboard damaged  Shark involvement not confirmed
20  Surfing                     No injury                     Questionable

In [21]:
data = data.drop([16, 20])

In [22]:
data = data.reset_index(drop = True)    # aqui reseteamos los indices y ponemos la condicion 'drop = True', para borrar los indices anteriores

In [23]:
data['Type'].value_counts()

Type
Unprovoked      4595
Provoked         574
Invalid          547
Boating          341
Sea Disaster     239
Name: count, dtype: int64

In [24]:
#valor2 = 'Invalid'
#filas_coincidentes2 = data[data['Type'] == valor2].index          # filtrar por indice
#data_seleccionado2 = data.loc[filas_coincidentes2, ['Activity', 'Injury', 'Species ']]

#data_seleccionado2.head(10)

In [25]:
def limpiar_type(x):

    if pd.isnull(x):        # si es nulo lo convierte a x
        return x
    elif 'Unprovoked' in x:
        return 'Unprovoked'
    elif 'Provoked' in x:
        return 'Provoked'
    else:
        return 'Unprovoked'

In [26]:
data.Type = data.Type.apply(limpiar_type)   # le aplicamos la funcion a la columna
data['Type'].value_counts()

Type
Unprovoked    5722
Provoked       574
Name: count, dtype: int64

In [27]:
data.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Unprovoked,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonMcNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Unprovoked,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [28]:
data['Sex '].value_counts()

Sex
M      5092
F       637
M         2
N         2
lli       1
.         1
Name: count, dtype: int64

In [29]:
data.rename(columns = {'Sex ': 'Sex'}, inplace=True)    #renombrar una columna

In [30]:
data['Sex'].value_counts()

Sex
M      5092
F       637
M         2
N         2
lli       1
.         1
Name: count, dtype: int64

In [31]:
#valor3 = '.'
#filas_coincidentes3 = data[data['Sex'] == valor3].index          # filtrar por indice
#data_seleccionado3 = data.loc[filas_coincidentes3, ['Activity', 'Injury', 'Species ', 'Name']]

#data_seleccionado3

In [32]:
#data.loc[5435]

In [33]:
def limpiar_sex(x):

    if pd.isnull(x):
        return x
    elif 'M' in x:
        return 'Male'
    elif 'F' in x:
        return 'Female'
    else:
        return 'Unknown'

In [34]:
data.Sex = data.Sex.apply(limpiar_sex)
data['Sex'].value_counts()

Sex
Male       5094
Female      637
Unknown       4
Name: count, dtype: int64

In [35]:
#valor3 = 'Unknown'
#filas_coincidentes3 = data[data['Sex'] == valor3].index          # filtrar por indice
#data_seleccionado3 = data.loc[filas_coincidentes3, ['Activity', 'Injury', 'Species ', 'Name']]

#data_seleccionado3

In [36]:
data.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Unprovoked,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,Female,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonMcNeely,Female,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Unprovoked,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,Male,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,Male,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,Male,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [37]:
data['Fatal (Y/N)'].value_counts()

Fatal (Y/N)
N          4291
Y          1388
UNKNOWN      71
 N            7
M             1
2017          1
N             1
y             1
Name: count, dtype: int64

In [38]:
#valor4 = 'N '
#filas_coincidentes4 = data[data['Fatal (Y/N)'] == valor4].index          # filtrar por indice
#data_seleccionado4 = data.loc[filas_coincidentes4, ['Activity', 'Injury', 'Species ', 'Name']]

#data_seleccionado4

In [39]:
#data.loc[784]

In [40]:
data.rename(columns = {'Fatal (Y/N)': 'Fatal'}, inplace=True)

In [41]:
data['Fatal'].value_counts()

Fatal
N          4291
Y          1388
UNKNOWN      71
 N            7
M             1
2017          1
N             1
y             1
Name: count, dtype: int64

In [42]:
def limpiar_fatal(x):
    x = str(x).lower().strip()     # convertimos todo en str, lo pasamos a minusculas y quitamos los espacios que tengan tanto por der como por izq
    if x == 'y':
        return 'Yes'
    elif x == 'n':
        return 'No'
    else:
        return 'Unknown'

In [43]:
data['Fatal'] = data['Fatal'].apply(limpiar_fatal)

In [44]:
data['Fatal'].value_counts()

Fatal
No         4299
Yes        1389
Unknown     612
Name: count, dtype: int64

In [45]:
data.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal,Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Unprovoked,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,Female,57,"No injury to occupant, outrigger canoe and pad...",No,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonMcNeely,Female,11,Minor injury to left thigh,No,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Unprovoked,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,Male,48,Injury to left lower leg from surfboard skeg,No,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,Male,NaN,Minor injury to lower leg,No,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,Male,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,No,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [46]:
pd.unique(data['Year'])

array([2018., 2017.,   nan, 2016., 2015., 2014., 2013., 2012., 2011.,
       2010., 2009., 2008., 2007., 2006., 2005., 2004., 2003., 2002.,
       2001., 2000., 1999., 1998., 1997., 1996., 1995., 1984., 1994.,
       1993., 1992., 1991., 1990., 1989., 1969., 1988., 1987., 1986.,
       1985., 1983., 1982., 1981., 1980., 1979., 1978., 1977., 1976.,
       1975., 1974., 1973., 1972., 1971., 1970., 1968., 1967., 1966.,
       1965., 1964., 1963., 1962., 1961., 1960., 1959., 1958., 1957.,
       1956., 1955., 1954., 1953., 1952., 1951., 1950., 1949., 1948.,
       1848., 1947., 1946., 1945., 1944., 1943., 1942., 1941., 1940.,
       1939., 1938., 1937., 1936., 1935., 1934., 1933., 1932., 1931.,
       1930., 1929., 1928., 1927., 1926., 1925., 1924., 1923., 1922.,
       1921., 1920., 1919., 1918., 1917., 1916., 1915., 1914., 1913.,
       1912., 1911., 1910., 1909., 1908., 1907., 1906., 1905., 1904.,
       1903., 1902., 1901., 1900., 1899., 1898., 1897., 1896., 1895.,
       1894., 1893., 1892., 1891., 1890., 1889., 1888., 1887., 1886.,
       1885., 1884., 1883., 1882., 1881., 1880., 1879., 1878., 1877.,
       1876., 1875., 1874., 1873., 1872., 1871., 1870., 1869., 1868.,
       1867., 1866., 1865., 1864., 1863., 1862., 1861., 1860., 1859.,
       1858., 1857., 1856., 1855., 1853., 1852., 1851., 1850., 1849.,
       1847., 1846., 1845., 1844., 1842., 1841., 1840., 1839., 1837.,
       1836., 1835., 1834., 1832., 1831., 1830., 1829., 1828., 1827.,
       1826., 1825., 1823., 1822., 1819., 1818., 1817., 1816., 1815.,
       1812., 1811., 1810., 1808., 1807., 1805., 1804., 1803., 1802.,
       1801., 1800., 1797., 1792., 1791., 1788., 1787., 1786., 1785.,
       1784., 1783., 1780., 1779., 1776., 1771., 1767., 1764., 1758.,
       1753., 1751., 1749., 1755., 1748., 1742., 1738., 1733., 1723.,
       1721., 1703., 1700., 1642., 1638., 1637., 1617., 1595., 1580.,
       1555., 1554., 1543.,  500.,   77.,    5.,    0.])

In [47]:
data.Year.value_counts().head()

Year
2015.0    143
2017.0    136
2016.0    130
2011.0    128
2014.0    127
Name: count, dtype: int64

In [48]:
def limpiar_year(fecha):
    if pd.isna(fecha):
        return 0
    elif len(str(int(fecha))) == 4:
        return fecha
    else:
        return 0

In [49]:
data['Year'] = data['Year'].apply(limpiar_year)

In [50]:
#pd.unique(data['Year'])

In [51]:
data['Year'] = data['Year'].astype(int)

In [52]:
data['Year'] = data['Year'].replace(0, 'Unknown')

In [53]:
#pd.unique(data['Year'])

In [54]:
data.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal,Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018,Unprovoked,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,Female,57,"No injury to occupant, outrigger canoe and pad...",No,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonMcNeely,Female,11,Minor injury to left thigh,No,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018,Unprovoked,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,Male,48,Injury to left lower leg from surfboard skeg,No,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,Male,NaN,Minor injury to lower leg,No,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,Male,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,No,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [55]:
#data['Country'].value_counts()

In [56]:
pd.unique(data.Country)

array(['USA', 'AUSTRALIA', 'MEXICO', 'BRAZIL', 'ENGLAND', 'SOUTH AFRICA',
       'THAILAND', 'COSTA RICA', 'MALDIVES', 'BAHAMAS', 'NEW CALEDONIA',
       'ECUADOR', 'MALAYSIA', 'LIBYA', nan, 'CUBA', 'MAURITIUS',
       'NEW ZEALAND', 'SPAIN', 'SAMOA', 'SOLOMON ISLANDS', 'JAPAN',
       'EGYPT', 'ST HELENA, British overseas territory', 'COMOROS',
       'REUNION', 'FRENCH POLYNESIA', 'UNITED KINGDOM',
       'UNITED ARAB EMIRATES', 'PHILIPPINES', 'INDONESIA', 'CHINA',
       'COLUMBIA', 'CAPE VERDE', 'Fiji', 'DOMINICAN REPUBLIC',
       'CAYMAN ISLANDS', 'ARUBA', 'MOZAMBIQUE', 'FIJI', 'PUERTO RICO',
       'ITALY', 'ATLANTIC OCEAN', 'GREECE', 'ST. MARTIN', 'FRANCE',
       'PAPUA NEW GUINEA', 'TRINIDAD & TOBAGO', 'KIRIBATI', 'ISRAEL',
       'DIEGO GARCIA', 'TAIWAN', 'JAMAICA', 'PALESTINIAN TERRITORIES',
       'GUAM', 'SEYCHELLES', 'BELIZE', 'NIGERIA', 'TONGA', 'SCOTLAND',
       'CANADA', 'CROATIA', 'SAUDI ARABIA', 'CHILE', 'ANTIGUA', 'KENYA',
       'RUSSIA', 'TURKS & CAICOS', 'UNITED ARAB EMIRATES (UAE)', 'AZORES',
       'SOUTH KOREA', 'MALTA', 'VIETNAM', 'MADAGASCAR', 'PANAMA',
       'SOMALIA', 'NEVIS', 'BRITISH VIRGIN ISLANDS', 'NORWAY', 'SENEGAL',
       'YEMEN', 'GULF OF ADEN', 'Sierra Leone', 'ST. MAARTIN',
       'GRAND CAYMAN', 'Seychelles', 'LIBERIA', 'VANUATU', 'MEXICO ',
       'HONDURAS', 'VENEZUELA', 'SRI LANKA', ' TONGA', 'URUGUAY', 'INDIA',
       'MICRONESIA', 'CARIBBEAN SEA', 'OKINAWA', 'TANZANIA',
       'MARSHALL ISLANDS', 'EGYPT / ISRAEL', 'NORTHERN ARABIAN SEA',
       'HONG KONG', 'EL SALVADOR', 'ANGOLA', 'BERMUDA', 'MONTENEGRO',
       'IRAN', 'TUNISIA', 'NAMIBIA', 'NORTH ATLANTIC OCEAN', 'PORTUGAL',
       'SOUTH CHINA SEA', 'BANGLADESH', 'PALAU', 'WESTERN SAMOA',
       'PACIFIC OCEAN ', 'BRITISH ISLES', 'GRENADA', 'IRAQ', 'TURKEY',
       'SINGAPORE', 'NEW BRITAIN', 'SUDAN', 'JOHNSTON ISLAND',
       'SOUTH PACIFIC OCEAN', 'NEW GUINEA', 'RED SEA',
       'NORTH PACIFIC OCEAN', 'FEDERATED STATES OF MICRONESIA',
       'MID ATLANTIC OCEAN', 'ADMIRALTY ISLANDS', 'BRITISH WEST INDIES',
       'SOUTH ATLANTIC OCEAN', 'PERSIAN GULF', 'RED SEA / INDIAN OCEAN',
       'PACIFIC OCEAN', 'NORTH SEA', 'NICARAGUA ', 'MALDIVE ISLANDS',
       'AMERICAN SAMOA', 'ANDAMAN / NICOBAR ISLANDAS', 'GABON', 'MAYOTTE',
       'NORTH ATLANTIC OCEAN ', 'THE BALKANS', 'SUDAN?', 'ARGENTINA',
       'MARTINIQUE', 'INDIAN OCEAN', 'GUATEMALA', 'NETHERLANDS ANTILLES',
       'NORTHERN MARIANA ISLANDS', 'IRAN / IRAQ', 'JAVA', 'SIERRA LEONE',
       ' PHILIPPINES', 'NICARAGUA', 'CENTRAL PACIFIC',
       'SOLOMON ISLANDS / VANUATU', 'SOUTHWEST PACIFIC OCEAN',
       'BAY OF BENGAL', 'MID-PACIFC OCEAN', 'SLOVENIA', 'CURACAO',
       'ICELAND', 'ITALY / CROATIA', 'BARBADOS', 'MONACO', 'GUYANA',
       'HAITI', 'SAN DOMINGO', 'IRELAND', 'KUWAIT', 'YEMEN ',
       'REUNION ISLAND', 'FALKLAND ISLANDS', 'CRETE', 'CYPRUS', 'EGYPT ',
       'WEST INDIES', 'BURMA', 'LEBANON', 'PARAGUAY',
       'BRITISH NEW GUINEA', 'CEYLON', 'OCEAN', 'GEORGIA', 'SYRIA',
       'TUVALU', 'INDIAN OCEAN?', 'GUINEA', 'ANDAMAN ISLANDS',
       'EQUATORIAL GUINEA / CAMEROON', 'COOK ISLANDS', 'TOBAGO', 'PERU',
       'AFRICA', 'ALGERIA', 'Coast of AFRICA', 'TASMAN SEA', 'GHANA',
       'GREENLAND', 'MEDITERRANEAN SEA', 'SWEDEN', 'ROATAN',
       'Between PORTUGAL & INDIA', 'DJIBOUTI', 'BAHREIN', 'KOREA',
       'RED SEA?', 'ASIA?', 'CEYLON (SRI LANKA)'], dtype=object)

In [57]:
#data.insert(5, 'Region', '')

In [58]:
import re

def limpiar_country(pais):
    if re.search(r'\b(OCEAN|SEA|PACIFIC|AFRICA|ASIA|DIEGO|BETWEEN)\b', pais, re.IGNORECASE):
        return 'UNKNOWN'
    else:
        return pais


# Para crear region con los oceanos

#def limpiar_country(row):
#    if isinstance(row['Country'], str) and re.search(r'\b(OCEAN|SEA|PACIFIC|AFRICA|ASIA)\b', row['Country'], re.IGNORECASE):
#        return pd.Series({'Country': 'UNKNOWN', 'Region': row['Country']})
#    else:
#        return pd.Series({'Country': row['Country'], 'Region': row['Region']})

In [59]:
# Convierte todo en mayúsculas y rellena nulos con 'UNKNOWN'
data['Country'] = data['Country'].str.upper().str.strip().fillna('UNKNOWN')

#data['Region'] = data['Region'].str.upper().str.strip().fillna('UNKNOWN')

# Elimina espacios y signos de interrogación de los nombres de los países
data['Country'] = data['Country'].str.replace(r'?', '').str.strip()
data['Country'] = data['Country'].str.replace(r'&', '/')

#data['Region'] = data['Region'].str.replace(r'?', '').str.strip()

# Modificaciones puntuales
data['Country'] = data['Country'].str.replace('ISLANDAS', 'ISLANDS')
data['Country'] = data['Country'].str.replace('(UAE)', '').str.strip()
data['Country'] = data['Country'].str.replace('(SRI LANKA)', '').str.strip()
data['Country'] = data['Country'].str.replace('DIEGO GARCIA', 'UNKNOWN')
data['Country'] = data['Country'].str.replace('BETWEEN PORTUGAL / INDIA', 'UNKNOWN')

#data['Region'] = data['Region'].str.replace('', 'UNKNOWN')

In [60]:
data['Country'] = data['Country'].apply(limpiar_country)

# Para aplicar la funcion de region

#columns_to_clean = ['Country', 'Region']
#data[columns_to_clean] = data[columns_to_clean].apply(limpiar_country, axis=1)

# Rellenar los valores NaN en la columna "Region" con una cadena vacía
#data['Region'] = data['Region'].fillna('')

In [61]:
pd.unique(data.Country)

array(['USA', 'AUSTRALIA', 'MEXICO', 'BRAZIL', 'ENGLAND', 'UNKNOWN',
       'THAILAND', 'COSTA RICA', 'MALDIVES', 'BAHAMAS', 'NEW CALEDONIA',
       'ECUADOR', 'MALAYSIA', 'LIBYA', 'CUBA', 'MAURITIUS', 'NEW ZEALAND',
       'SPAIN', 'SAMOA', 'SOLOMON ISLANDS', 'JAPAN', 'EGYPT',
       'ST HELENA, BRITISH OVERSEAS TERRITORY', 'COMOROS', 'REUNION',
       'FRENCH POLYNESIA', 'UNITED KINGDOM', 'UNITED ARAB EMIRATES',
       'PHILIPPINES', 'INDONESIA', 'CHINA', 'COLUMBIA', 'CAPE VERDE',
       'FIJI', 'DOMINICAN REPUBLIC', 'CAYMAN ISLANDS', 'ARUBA',
       'MOZAMBIQUE', 'PUERTO RICO', 'ITALY', 'GREECE', 'ST. MARTIN',
       'FRANCE', 'PAPUA NEW GUINEA', 'TRINIDAD / TOBAGO', 'KIRIBATI',
       'ISRAEL', 'TAIWAN', 'JAMAICA', 'PALESTINIAN TERRITORIES', 'GUAM',
       'SEYCHELLES', 'BELIZE', 'NIGERIA', 'TONGA', 'SCOTLAND', 'CANADA',
       'CROATIA', 'SAUDI ARABIA', 'CHILE', 'ANTIGUA', 'KENYA', 'RUSSIA',
       'TURKS / CAICOS', 'AZORES', 'SOUTH KOREA', 'MALTA', 'VIETNAM',
       'MADAGASCAR', 'PANAMA', 'SOMALIA', 'NEVIS',
       'BRITISH VIRGIN ISLANDS', 'NORWAY', 'SENEGAL', 'YEMEN',
       'GULF OF ADEN', 'SIERRA LEONE', 'ST. MAARTIN', 'GRAND CAYMAN',
       'LIBERIA', 'VANUATU', 'HONDURAS', 'VENEZUELA', 'SRI LANKA',
       'URUGUAY', 'INDIA', 'MICRONESIA', 'OKINAWA', 'TANZANIA',
       'MARSHALL ISLANDS', 'EGYPT / ISRAEL', 'HONG KONG', 'EL SALVADOR',
       'ANGOLA', 'BERMUDA', 'MONTENEGRO', 'IRAN', 'TUNISIA', 'NAMIBIA',
       'PORTUGAL', 'BANGLADESH', 'PALAU', 'WESTERN SAMOA',
       'BRITISH ISLES', 'GRENADA', 'IRAQ', 'TURKEY', 'SINGAPORE',
       'NEW BRITAIN', 'SUDAN', 'JOHNSTON ISLAND', 'NEW GUINEA',
       'FEDERATED STATES OF MICRONESIA', 'ADMIRALTY ISLANDS',
       'BRITISH WEST INDIES', 'PERSIAN GULF', 'NICARAGUA',
       'MALDIVE ISLANDS', 'AMERICAN SAMOA', 'ANDAMAN / NICOBAR ISLANDS',
       'GABON', 'MAYOTTE', 'THE BALKANS', 'ARGENTINA', 'MARTINIQUE',
       'GUATEMALA', 'NETHERLANDS ANTILLES', 'NORTHERN MARIANA ISLANDS',
       'IRAN / IRAQ', 'JAVA', 'SOLOMON ISLANDS / VANUATU',
       'BAY OF BENGAL', 'SLOVENIA', 'CURACAO', 'ICELAND',
       'ITALY / CROATIA', 'BARBADOS', 'MONACO', 'GUYANA', 'HAITI',
       'SAN DOMINGO', 'IRELAND', 'KUWAIT', 'REUNION ISLAND',
       'FALKLAND ISLANDS', 'CRETE', 'CYPRUS', 'WEST INDIES', 'BURMA',
       'LEBANON', 'PARAGUAY', 'BRITISH NEW GUINEA', 'CEYLON', 'GEORGIA',
       'SYRIA', 'TUVALU', 'GUINEA', 'ANDAMAN ISLANDS',
       'EQUATORIAL GUINEA / CAMEROON', 'COOK ISLANDS', 'TOBAGO', 'PERU',
       'ALGERIA', 'GHANA', 'GREENLAND', 'SWEDEN', 'ROATAN', 'DJIBOUTI',
       'BAHREIN', 'KOREA'], dtype=object)

In [62]:
#data['Country'].value_counts()

In [63]:
#data.head()

In [64]:
data.shape

(6300, 24)

In [65]:
data.Age.value_counts()

Age
17          154
18          150
19          142
20          141
15          139
           ...
32 & 30       1
60's          1
20?           1
 28           1
13 or 14      1
Name: count, Length: 155, dtype: int64

In [66]:
pd.unique(data.Age)

array(['57', '11', '48', nan, '18', '52', '15', '12', '32', '10', '21',
       '34', '30', '60', '33', '29', '54', '41', '37', '56', '19', '25',
       '69', '38', '55', '35', '46', '45', '14', '40s', '28', '20', '24',
       '26', '49', '22', '7', '31', '17', '40', '13', '42', '3', '8',
       '50', '16', '82', '73', '20s', '68', '51', '39', '58', 'Teen',
       '47', '61', '65', '36', '66', '43', '60s', '9', '72', '59', '6',
       '27', '64', '23', '71', '44', '62', '63', '70', '18 months', '53',
       '30s', '50s', 'teen', '77', '74', '28 & 26', '5', '86', '18 or 20',
       '12 or 13', '46 & 34', '28, 23 & 30', 'Teens', '36 & 26',
       '8 or 10', '84', ' ', '30 or 36', '21 & ?', '75', '33 or 37',
       'mid-30s', '23 & 20', ' 30', '7      &    31', ' 28', '20?',
       "60's", '32 & 30', '16 to 18', '87', '67', 'Elderly', 'mid-20s',
       'Ca. 33', '74 ', '45 ', '21 or 26', '20 ', '>50', '18 to 22',
       'adult', '9 & 12', '? & 19', '9 months', '25 to 35', '23 & 26',
       '1', '(adult)', '33 & 37', '25 or 28', '37, 67, 35, 27,  ? & 27',
       '21, 34,24 & 35', '30 & 32', '50 & 30', '17 & 35', 'X',
       '"middle-age"', '13 or 18', '34 & 19', '33 & 26', '2 to 3 months',
       'MAKE LINE GREEN', ' 43', '81', '"young"', '7 or 8', '78',
       '17 & 16', 'F', 'Both 11', '9 or 10', 'young', '36 & 23', '  ',
       'A.M.', '?    &   14', '10 or 12', '31 or 33', '2', '13 or 14'],
      dtype=object)

In [67]:
def limpiar_age(edad):
       
    # Reemplazar los NaN por 'Unknown'
    if pd.isna(edad):
        return 'Unknown'
    
    # Si la edad contiene un rango, calcular la edad media del rango
    if 'or' in edad:
        edades = re.findall(r'\d+', edad)
        media = (int(edades[0]) + int(edades[1])) / 2
        return int(media)
    
    # Si la edad contiene un rango, calcular la edad media del rango
    if 'to' in edad:
        edades = re.findall(r'\d+', edad)
        media = (int(edades[0]) + int(edades[1])) / 2
        return int(media)
    
    # Si la edad contiene la palabra "months", convertir a años
    if 'month' in edad:
        meses = re.findall(r'\d+', edad)
        return int(int(meses[0]) / 12)
    
    # Convertir strings completamente en palabras a 'Unknown'
    if not re.match(r'^\d+|\d+\.\d+$', edad):
        return 'Unknown'

    # Reemplazar comillas, signos de interrogación por nada
    edad = re.sub(r'[\'"\?]', '', edad)

    # Reemplazar letras por nada
    edad = re.sub(r'[a-zA-Z]', '', edad)

    return edad

In [68]:
# Aplicar la función "limpiar_edad" a la columna "Age" del marco de datos
data['Age'] = data['Age'].apply(limpiar_age)

data['Age'] = data['Age'].astype(str)

In [69]:
# Modificaciones puntuales
data['Age'] = data['Age'].str.replace('21 & ', '21 & Unknown')
data['Age'] = data['Age'].str.replace('7      &    31', '7 & 31')
data['Age'] = data['Age'].str.replace('37, 67, 35, 27,   & 27', '37, 67, 35, 27, Unknown & 27')
data['Age'] = data['Age'].str.replace('21, 34,24 & 35', '21, 34, 24 & 35')

In [70]:
#data.Age.value_counts()

In [88]:
pd.unique(data.Age)

array(['57', '11', '48', 'Unknown', '18', '52', '15', '12', '32', '10',
       '21', '34', '30', '60', '33', '29', '54', '41', '37', '56', '19',
       '25', '69', '38', '55', '35', '46', '45', '14', '40', '28', '20',
       '24', '26', '49', '22', '7', '31', '17', '13', '42', '3', '8',
       '50', '16', '82', '73', '68', '51', '39', '58', '47', '61', '65',
       '36', '66', '43', '9', '72', '59', '6', '27', '64', '23', '71',
       '44', '62', '63', '70', '1', '53', '77', '74', '28 & 26', '5',
       '86', '46 & 34', '28, 23 & 30', '36 & 26', '84', '21 & Unknown',
       '75', '23 & 20', '7 & 31', '32 & 30', '87', '67', '74 ', '45 ',
       '20 ', '9 & 12', '0', '23 & 26', '33 & 37',
       '37, 67, 35, 27, Unknown & 27', '21, 34, 24 & 35', '30 & 32',
       '50 & 30', '17 & 35', '34 & 19', '33 & 26', '2', '81', '78',
       '17 & 16', '36 & 23'], dtype=object)

In [72]:
data.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal,Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018,Unprovoked,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,Female,57,"No injury to occupant, outrigger canoe and pad...",No,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonMcNeely,Female,11,Minor injury to left thigh,No,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018,Unprovoked,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,Male,48,Injury to left lower leg from surfboard skeg,No,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,Male,Unknown,Minor injury to lower leg,No,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,Male,Unknown,Lacerations to leg & hand shark PROVOKED INCIDENT,No,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [73]:
data['Time'].value_counts()

Time
Afternoon      187
11h00          128
Morning        121
12h00          109
15h00          108
              ...
00h30            1
14h37            1
10h07            1
13h53            1
19h00-20h00      1
Name: count, Length: 365, dtype: int64

In [74]:
pd.unique(data['Time'])

array(['18h00', '14h00  -15h00', '07h45', nan, 'Late afternoon', '17h00',
       '14h00', 'Morning', '15h00', '08h15', '11h00', '10h40', '16h50',
       '09h30', 'Afternoon', '21h50', '09h40', '08h00', '17h35', '15h30',
       '07h30', '19h00, Dusk', 'Night', '16h00', '15h01', '12h00',
       '13h45', '23h30', '09h00', '14h30', '18h30', '12h30', '16h30',
       '18h45', '06h00', '10h00', '10h44', '10h30', '13h19', 'Midday',
       '13h30', '10h45', '11h20', '11h45', '19h30', '08h30', '15h45',
       'Shortly before 12h00', '17h34', '17h10', '11h15', '08h50',
       '17h45', '13h00', '10h20', '13h20', '07h00', '02h00', '09h50',
       '11h30', '17h30', '9h00', '10h43', 'After noon', '15h15', '15h40',
       '19h05', '1300', '14h30 / 15h30', '22h00', '16h20', '14h34',
       '15h25', '14h55', '17h46', 'Morning ', '15h49', '19h00',
       'Midnight', '09h30 / 10h00', '10h15', '18h15', '04h00', '14h50',
       '13h50', '19h20', '10h25', '10h45-11h15', '16h45', '15h52',
       '06h15', '14h40', '19h45', '10h10', '08h45', 'Evening', '12h10',
       '18h05', '11h41', '12h25', '17h51', '16h12', '12h45', '10h50',
       '14h15', '09h45', '06h45', '05h00', '03h30',
       'Sometime between 06h00 & 08hoo', '06h30', '17h20', '20h00',
       '16h40', '16h18', '11h10', 'Early afternoon', '17h50',
       '07h00 - 08h00', '18h15-18h30', '17h01', '09h57', '08h20', '17h58',
       '20h30', '15h19', '10h55', '15h55', '23h00', '12h40', '13h55',
       '16h05', '14h10', '15h20', '12h50', '14h45', '13h40', '13h24',
       '09h00 - 09h30', '0830', '11h40', '08h10', '15h56', '14h20',
       'Just before noon', '07h56', '1600', '17h17', '16h35', '09h05',
       '07h15', '07h20', '19h28', '12h38', '05h50', '15h50', '11h05',
       'Early morning', 'Dawn', '05h45', '13h25', '12h20', '13h26',
       '09h11', '12h15', '13h15', '18h20', '15h35', 'AM', '13h51', 'A.M.',
       '08h05', '19h15', '10h35', '15h44', 'Dusk', '21h00', 'Lunchtime',
       '15j45', '09h35', '10h27', '10h16', '0500', 'Before 07h00',
       '09h20', '10h00 -- 11h00', '12h05', '14h21', '18h50', '15h53',
       '"Just before 11h00"', '11h115', '13h42', '20h15', '12h39',
       '07h05', 'Sunset', '  ', '13h05', '11h50', '"Evening"',
       'Just before sundown', '17h55', '22h30', '17h15', '16h10',
       '11h30 ', '06h10', '16h15', 'Between 05h00 and 08h00', '07h08',
       '17h00 or 17h40', '03h00', '>08h00', '--', '12h02', '12h55',
       '16h14', '17h11', '00h30', '14h37', '10h07', '13h53', '11h55',
       '13h23', 'Just after 12h00', '02h30', '08h40', '11h56', '14h35',
       ' ', 'Early Morning', '07h50', 'Shortly after midnight', '14h25',
       '13h345', '06h47', '09h00 -10h00', '20h45 (Sunset)',
       'Late morning', 'P.M.', '18h40', '13h14', '13h06',
       'Shortly before 13h00', '12h34', '11h53', '8:04 pm', '12h46',
       '12h48', '17h42', '12h35', 'Possibly same incident as 2000.08.21',
       'After Dusk', '11h57', 'Noon', '17h40', '11h25', '18h25', '10h28',
       '09h15', '14h16', '09h55', '2 hours after Opperman', '15h05',
       '09h30 ', 'Mid afternoon', 'Mid morning', '11h48', '11h00 / 11h30',
       '07h19', '13h37', '11h06', '"Night"', '18h30?', '11h58', '11h51',
       '18h12', '07h10', '07h40', '12h33',
       '30 minutes after 1992.07.08.a', '>06h45', '15h06', '12h54',
       'Between 06h00 & 07h20', '16h55', '05h40', '<07h30', '21h30',
       '17h00 Sunset', 'Nightfall', 'X', '08h57', '18h30 (Sunset)',
       '06j00', '08h35', '10h22', '02h45', 'Prior to 10h37', 'Daybreak',
       '18h10', '>12h00', 'Mid-morning', '08h55', '16h30 or 18h00',
       'Just before dawn', ' 14h00', 'Daytime', '06h50', '01h00', 'Dark',
       '10h00 / 11h00', '"After lunch"', '07h32', '15h00 or 15h45',
       '>17h00', '19h00 / 20h00', '12h45 / 13h45', '14h00 - 15h00',
       'night', '03h45 - 04h00', '13h10', '09h30 / 15h30',
       '08h00 / 09h30', '19h35', '12h00 to 14h00', '13h35', 'Late night',
       '01h32', '10h30 or 13h30', '16h23', '15h00j', 'Midday.',
       '"After dark"', '10h00 or 14h00', '19h10', '16h25',
       '2 hrs before sunset', '18h15 to 21h30', '1500',
       '"shortly before dusk"', '>17h30', '>14h30',
       'Between 11h00 & 12h00', 'After 04h00',
       '11h01 -time of ship sinking', 'Ship aban-doned at 03h10', '19h55',
       'After dusk',
       'FATAL  (Wire netting installed at local beaches after this incident.)',
       '01h30', 'After midnight', 'Late afternon', '05h30', '08h58',
       '"Early evening"', 'Late Afternoon', '   ', 'Before daybreak',
       'dusk', 'Before 10h30', '06h00 -- 07h00', '01h50', '17h00-18h00',
       '19h00-20h00'], dtype=object)

In [75]:
def limpiar_time(hora):
       
    # Reemplazar los NaN por 'Unknown'
    if pd.isna(hora):
        return 'Unknown'
    
    # Eliminar espacios en blanco al final del string y convertir strings completamente en palabras a 'Unknown'
    hora = hora.strip()
    if not re.match(r'^\d+|\d+\.\d+$', hora):
        return 'Unknown'

    # Reemplazar '--' por '/' en el formato 'xxhxx/xxhxx'
    hora = hora.replace('--', '/')

    # Reemplazar ' ' por '/' en el formato 'xxhxx/xxhxx'
    hora = hora.replace('  ', ' / ')

    # Eliminar todo después de un guión o una barra, y convertir a formato 'xxhxx'
    hora = re.sub(r'(-|\/).*', '', hora)
    hora = re.sub(r'\D', '', hora)
    if len(hora) == 3:
        hora = f"{hora[:1]}h{hora[1:]:02}"
    elif len(hora) == 4:
        hora = f"{hora[:2]}h{hora[2:]:02}"
    else:
        hora = 'Unknown'

    return hora

In [76]:
data["Time"] = data["Time"].apply(limpiar_time)

In [77]:
pd.unique(data['Time'])

array(['18h00', '14h00', '07h45', 'Unknown', '17h00', '15h00', '08h15',
       '11h00', '10h40', '16h50', '09h30', '21h50', '09h40', '08h00',
       '17h35', '15h30', '07h30', '19h00', '16h00', '15h01', '12h00',
       '13h45', '23h30', '09h00', '14h30', '18h30', '12h30', '16h30',
       '18h45', '06h00', '10h00', '10h44', '10h30', '13h19', '13h30',
       '10h45', '11h20', '11h45', '19h30', '08h30', '15h45', '17h34',
       '17h10', '11h15', '08h50', '17h45', '13h00', '10h20', '13h20',
       '07h00', '02h00', '09h50', '11h30', '17h30', '9h00', '10h43',
       '15h15', '15h40', '19h05', '22h00', '16h20', '14h34', '15h25',
       '14h55', '17h46', '15h49', '10h15', '18h15', '04h00', '14h50',
       '13h50', '19h20', '10h25', '16h45', '15h52', '06h15', '14h40',
       '19h45', '10h10', '08h45', '12h10', '18h05', '11h41', '12h25',
       '17h51', '16h12', '12h45', '10h50', '14h15', '09h45', '06h45',
       '05h00', '03h30', '06h30', '17h20', '20h00', '16h40', '16h18',
       '11h10', '17h50', '17h01', '09h57', '08h20', '17h58', '20h30',
       '15h19', '10h55', '15h55', '23h00', '12h40', '13h55', '16h05',
       '14h10', '15h20', '12h50', '14h45', '13h40', '13h24', '11h40',
       '08h10', '15h56', '14h20', '07h56', '17h17', '16h35', '09h05',
       '07h15', '07h20', '19h28', '12h38', '05h50', '15h50', '11h05',
       '05h45', '13h25', '12h20', '13h26', '09h11', '12h15', '13h15',
       '18h20', '15h35', '13h51', '08h05', '19h15', '10h35', '15h44',
       '21h00', '09h35', '10h27', '10h16', '09h20', '12h05', '14h21',
       '18h50', '15h53', '13h42', '20h15', '12h39', '07h05', '13h05',
       '11h50', '17h55', '22h30', '17h15', '16h10', '06h10', '16h15',
       '07h08', '03h00', '12h02', '12h55', '16h14', '17h11', '00h30',
       '14h37', '10h07', '13h53', '11h55', '13h23', '02h30', '08h40',
       '11h56', '14h35', '07h50', '14h25', '06h47', '20h45', '18h40',
       '13h14', '13h06', '12h34', '11h53', '8h04', '12h46', '12h48',
       '17h42', '12h35', '11h57', '17h40', '11h25', '18h25', '10h28',
       '09h15', '14h16', '09h55', '15h05', '11h48', '07h19', '13h37',
       '11h06', '11h58', '11h51', '18h12', '07h10', '07h40', '12h33',
       '15h06', '12h54', '16h55', '05h40', '21h30', '08h57', '08h35',
       '10h22', '02h45', '18h10', '08h55', '06h50', '01h00', '07h32',
       '03h45', '13h10', '19h35', '13h35', '01h32', '16h23', '19h10',
       '16h25', '11h01', '19h55', '01h30', '05h30', '08h58', '01h50'],
      dtype=object)

In [78]:
data['Time'].value_counts()

Time
Unknown    3955
11h00       129
15h00       110
12h00       109
16h00       103
           ...
10h16         1
10h27         1
15h44         1
13h51         1
01h50         1
Name: count, Length: 245, dtype: int64

In [79]:
data.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal,Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018,Unprovoked,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,Female,57,"No injury to occupant, outrigger canoe and pad...",No,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonMcNeely,Female,11,Minor injury to left thigh,No,14h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018,Unprovoked,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,Male,48,Injury to left lower leg from surfboard skeg,No,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,Male,Unknown,Minor injury to lower leg,No,Unknown,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,Male,Unknown,Lacerations to leg & hand shark PROVOKED INCIDENT,No,Unknown,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [80]:
data['Area'].value_counts()

Area
Florida                                 1037
New South Wales                          484
Queensland                               311
Hawaii                                   298
California                               290
                                        ...
Ysabel Island                              1
 Lau Province                              1
South Coast, East New Britain              1
Between Southampton & Canary Islands       1
Moala Island                               1
Name: count, Length: 825, dtype: int64

In [81]:
pd.unique(data['Area'])

array(['California', 'Georgia', 'Hawaii', 'New South Wales', 'Colima',
       'Pernambuco', 'Florida', 'Queensland', 'South Carolina',
       'Cornwall', 'Westerm Australia', 'Eastern Cape Province',
       'Hua Hin', 'Cocos Island', 'Western Australia',
       'Alifu Alifu Atoll', 'Western Cape Province', 'New Providence',
       'Alagoas', nan, 'Victoria', 'KwaZulu-Natal',
       'Boi Island, Victoria', 'Galapagos Islands', 'Fernando de Noronha',
       'Sepang', 'Holquin Province', 'Pamplemousses ', 'South Australia',
       'North Island', 'New York', 'Canary Islands', ' Upolu Island',
       'Shizuoka Prefecture', 'Texas', 'Castelln', 'Massachusetts',
       'Red Sea Protectorate', 'New Providence District',
       '40 miles off Grand Bahama Island', 'Ascension Island',
       'New Jersey', 'Majorca', 'Washington', 'Tabasco', 'Anjouan',
       'Ibiza Island', 'Marquesas', 'South Devon', 'New Providence ',
       'Sharjah, ', 'Baja California Sur', 'Saint-Leu', 'South Island',
       'Luzon Island', 'Great Exuma', 'Saint-Andre', 'Bimini', 'Bali',
       'Tuamotos', 'Oregon', 'North Province', 'New Providence Island',
       'Alicante Province', 'Hong Kong', 'Kochi Prefecture', 'Tasmania',
       'Abaco Islands', 'Alabama', 'North Carolina', 'Isla Provedencia',
       'Suez', 'Grand Terre', 'Boa Vista Island', 'Vanua Levu',
       'Santa Catarina State', 'South Province', 'Altagracia Province',
       'Grand Cayman', 'Balnerio Cambori', 'Fujairah Emirate',
       'Grand Canary Island', 'Inhambane Province', 'Phuket', 'Alicante',
       'Guanacaste', 'Bora Bora', 'Grand Bahama Island', 'Le Port',
       'Rangiroa', 'Saint-Gilles-les-Bains', 'Sardinia', 'Sinaloa',
       'Central Tuamotu', 'dtang-Sal', 'Granada',
       'Cargados Carajos Shoals (St. Brandon)', 'Moorea', 'Catalonia',
       'Maryland', 'Louisiana', 'West End', 'Delaware',
       'Atsumi peninsula', 'Palmyra Atoll', 'Wallis and Futuna',
       'Baie de Sainte-Marie', 'Society Islands', 'Trinidad',
       'Okinawa Prefecture', '740 miles SE of Tarawa Atoll',
       'Southern District', 'Bay of Biscay', 'Quintana Roo',
       'Exuma Islands', 'Saint-Paul', 'Taitung ', 'Kingston Parish',
       'Santa Cruz Island', 'Saint-Gilles', 'Tuamotus', 'Eleuthera',
       'St. Catherine', 'Palawan', 'Mercury Islands', 'Delta', "Vava'u",
       'Inner Hebrides', 'Saint Leu', 'Trois-Bassins', 'British Colombia',
       'Guerrero', 'Saint-Benoit', 'Tabuk Province',
       'Antofagasta Province', "St John's", 'Santa Elena',
       'East New Britain', 'Bois-Blanc ', 'Moray', 'Puerto Rico',
       'Saman Province', 'Coast Province', 'Central Province',
       'Primorsky Krai',
       'Peter the Great Bay, Khasan, Primorsky Krai (Far East)',
       'Telyakovsky Bay, Khasan,  Primorsky Krai (Far East)', 'Praslin',
       'Sucre', 'Middle Caicos', 'Caicos Bank', 'San Andrs archipelago',
       'Kedah', 'Umm al Qaywayan Province', 'Vitu Levu',
       'South Sinai Peninsula', ' Loyalty Islands', 'Saint Gilles ',
       'Maine', 'Virginia', "Ha'api ", 'Western Province',
       'Jeju Province', 'Binh Dinh Province', 'Antsiranana Province',
       'Sinai Peninsula', 'Off Vanua Levu', 'Merizo', 'Rio Grande Do Sul',
       'Dubai', 'Torres Strait', 'Eastern Province',
       'Eastern Cape  Province', 'Maputo Province', 'Bocas', 'Fife',
       'Devon', 'Makira-Ulawa Province', 'Mombasa', 'Catalunya',
       'St. Johns Reef', 'Off Green Island', 'North Region',
       'Batangas province', 'Strait of Malacca', 'Guantanamo Province',
       'Maranho', 'Red Sea', 'Batanes Provine', 'Luzon',
       'Northern Territory', ' Split-Dalmatia Count,', 'North Devon',
       'US Virgin Islands', 'San Carlos', 'Cabo San Lucas', 'Sussex',
       'Bahia', 'Easter Ross', 'Guerro', 'Yasawa Islands',
       'Northern Bahamas', 'Tokyo Bay', 'Baja California', 'Green Bay',
       'Loyalty Islands', 'Marovo Lagoon',
       'Territory of Cocos (Keeling) Islands', 'Oslo Fjord', 'Kent',
       'Bird Island', 'Providenciales', 'Bimini Islands',
       'Muhafazat Hadramawt', 'Cook islans', 'Surigao del Norte',
       'Between Somalia & Yemen', 'Ambergris Caye', 'Saint-Pierre',
       'Kentucky', 'Andros Islands', 'Guam', 'Western Area',
       '300 miles from Antigua', '800 miles from land',
       '600 nm west of the Canary Islands', 'Simpson Bay', 'East Wall',
       'Inner Islands', 'Shanghai', 'Malampa Province',
       "South Ch'ungch'ong Province", 'Bay Islands', 'New Mexico',
       'Santa Isabel Province', 'Santiago de Cuba Province',
       'Camaguey Province', 'Conservatria District', 'South Carolina ',
       'Kuril Islands in the Pacific', 'Wakayama Prefecture',
       "Nuku'alofa", 'Saint-Benot',
       'South Island, near Karitane north of Dunedin', 'Rocha',
       'Northlands', 'Anzoategui', 'Cook Islands', 'Tamil Nadu',
       'Pearl Islands', 'Taveuni', 'Johnston Atoll', 'Baatan',
       'Rio de Janeiro', 'Nueva Esparta', 'Southland',
       'North Pacific coast', 'Caroline Islands', 'Cheshire',
       'Louisiade Archipelago',
       'KwaZulu-Natal between Port Edward and Port St Johns',
       'Milne Bay Province', 'Cikobia Island (north of Vanua Levu)',
       'Rayong Province', 'Zamboanga del Sur Province',
       'Rio Grande de Norte',
       'Off the western coast of peninsular Malaysia', 'New Brunswick',
       'Miyako Island', 'Alaska', 'Minerva Reef', 'Madang Province',
       'Worcestershire', 'Phang nga Province', 'Alinglaplap Atoll',
       'Adriatic Sea', 'Ralik Chain', 'Grand Baie',
       "L' Etang Sal-les-Bains", 'Southern Japan', 'Cap Vert Peninsula',
       'Marches region', 'Berry Islands', 'Transvaal', 'Gaza',
       "Grand'Anse", 'Beaufonds', 'Miyako', "L'Etang-Sale",
       'Chatham Islands ', 'South Sinai, Gulf of Aqaba', 'Cat Cay',
       'Missouri', '12 miles off the north coast', 'Saint-Paul ',
       'Chatham Islands, east of New  Zealand', 'Saint-Denis', 'Vavau',
       'Mississippi', 'Clearwater Bay', 'New Territories',
       'Aichi Prefecture', 'Tafea Province', 'Kagoshima Prefecture',
       'Saint-Joseph', 'Banaadir Region', 'La Libertad', 'Costa Blanca',
       'Walkers Cay', 'On the Kowloon penisula, south of Sai Kung',
       'Ehime Prefecture', 'Tongapatu Group', 'West Africa',
       'Wakaya Island', 'North Carolina ', 'Mexico / Caribbean Sea',
       'Antarctic Ocean', 'La Saline-les-Bains', 'Sea of Japan',
       'Tavenui', 'Ligurian Sea', "L'Etang-Sal", 'Kowloon Peninsula',
       'Port Shelter', 'Laucala Island', 'Sainte-Marie',
       'Great Exuma Island', 'Sainte-Suzanne', 'Tuscany',
       'Tyrrhenian Sea', 'New Ireland', 'Valpariso Province',
       'Viscayan Sea', 'Manfredonia ', 'Tokyo Prefecture', 'Saint-Louis',
       'Mindoro', 'Between DR and Puerto Rico',
       'Between Honiara & Isabel Island', 'Florida Straits',
       'Gulf of Lyons', 'Cdiz', 'Sicily', 'Andikira Fokithes',
       'Central Philippines', 'Rhode Island', 'Northwest Italy',
       'English Channel', 'North & South Carolina', 'Kumamoto Prefecture',
       'Biserta', 'Saint-Philippe', 'Chungnam', 'Eronogo Region',
       'Coquimbo', 'Pagasitikos Gulf', "St. Mary's Parish",
       'Romblon Province', 'Lamu Archipelago', 'Los Vilos',
       'Island of Kos', "Ha'api", 'Madeira Islands',
       'Ho Ha Wan Marine Park', 'Southern Thailand', 'Golfo de Venezia',
       'Ralik Archipelago', 'South China Sea 200 miles from Hong Kong',
       'Reggio Calabria Province', 'Mirs Bay ', 'Genoa Province',
       'Ganges-Brahmaputra delta', ' Split-Dalmatia County', 'Florida ',
       'Primorje-Gorski Kotar County ', 'Aulong Island',
       'Western Caroline Islands', 'Upolu Island', 'Antibes',
       'Illeginni Atoll', 'Istria County', 'Between Beira & Maputo',
       'Khuzestan Province', 'Inhambe Province', 'Namonuito Atoll',
       'Eastern Caroline Islands',
       'Western Caroline Islands (North Pacific Ocean)', 'Caribbean Sea',
       'St. Andrew Parish', '200 nm southeast of Manila', 'Limpopo River',
       'New Ireland Province', 'Zadar County', 'Basrah', 'Clarendon',
       'Moro Gulf', 'Johor', 'Magdalena Department', 'Mafia Island',
       'Gulf Province', 'Morobe Province', 'Limn Province',
       'Rombion Province', 'Veracruz', 'Brindisi Province',
       'Kagawa Prefecture', 'Liguria', 'Hamilton', 'Out Islands',
       'Mugla Province', 'Gibraltar', 'New Britain', 'Bay of Maputo',
       'Duke of York Islands', 'Taranto province', 'Northern Taiwan',
       'Admiralty Islands, Manus Province', 'North Sumatra',
       "250 miles southwest of O'ahu, Hawaii", 'West coast', 'East Sepik',
       'Near Bougainville (North Solomons)', 'East of the Gulf of Aqaba',
       'Bougainville (North Solomons)', 'Victoria ', 'Okayama Prefecture',
       'San Blas', 'Connecticut', 'Lau Group', 'Caribbean Coast',
       'Vita Levu', 'San Blas Islands', 'Puntarenas Province',
       'Lomaloma, Lau', 'Between Southampton & Canary Islands',
       'South Coast, East New Britain', ' Lau Province', 'Ysabel Island',
       'Santo Domingo', 'San Blas coast', 'Thessaly',
       'Lomaiviti  Island Group', 'Rodrigues', 'Manus Island',
       'Pinas Bay', 'Grand Turk Island', 'Off coast of West Africa',
       'Sharon', 'Antalya Province', 'Northern District',
       'New Ireland Province, Bismarck Archipelago', 'Cyclades',
       'Viti Levu', 'Off the Coromandel Peninsula, North Island',
       'Madang', 'Guadalcanal Province', '10S, 142E', 'Kwajalein Atoll',
       'East Flores', 'Guerrrero', 'Western Luzon Island',
       'Shefa Province', '165  miles from Bermuda',
       '25 km off the coast of Iran & 483km from mouth of Persian Gulf',
       'Venice Province', 'Sandaun Province', 'Anatolia',
       'East New Britain Province', 'United Arab Emirates',
       'Wake Island (EnenKio)', '19S, 178?E', 'Pennsylvania',
       '9.35N 79.35W', 'Roncador Bank', 'Western District',
       'Enroute from Suez to Aden (Yemen)',
       '180 miles southeast of Okinawa', 'Eniwetok Atoll',
       'Cap-Vert Peninsula', 'Delagoa Bay', 'In the English Channel ',
       'Cook Strait', 'Unknown, treated at Wick, SCOTLAND',
       'Corregidor Island', 'Paget', '33N, 68W', 'Casamance',
       'Madang (WO)', 'Between Timor & Darwin, Australia',
       'Pacific coast', 'St. Georges ', 'Eastern  Province',
       'Northwest of Viti Levu', 'West New Britain Province',
       'Rigo subdistrict', 'Masbate', '400 miles southeast of Sri Lanka',
       'Lomaiviti Province', 'Kadavu', 'Leyte Island', 'Orissa',
       'Hokkaido Prefecture', 'North Palawan', 'Queaon', 'Istria',
       'PANAMA', 'In the Gulf Stream ', 'Mersin Province', 'Guyamas',
       'Between England & South Africa', 'Mindanao',
       ' Kikori River mouth', 'South Chungcheong Province',
       'Ahirkapi coast', 'Tutuila Island', 'Primorje-Gorski Kotar County',
       'Between Hawaii & Wake Island', 'Taipei Hsien',
       'Ibaraki Prefecture', 'South Pacific Ocean', 'Canal Zone',
       '1,000 miles east of Hawaii', 'Honiara', 'Yucatan Channel',
       'Havana Province', 'Karun River',
       'Abau Subdistrict,Central Province',
       'New Britain, Bismarck Archipelago', 'Estuaire Province',
       'Near Dakar, Cap Vert Peninsula',
       'Near the Andaman & Nicobar Islands', 'Mozambique Channel',
       'Tyrrenian Sea', 'Congreve Channel', 'St. Thomas Bay', 'Madeira',
       'Between Comores & Madagascar', 'Corfu Island',
       '1000 miles west of Hawaii', 'Izo Islands',
       ' Primorje-Gorski Kotar County', 'Open sea', 'Aden',
       'New Ireland, Bismarck Archipelago', '18S / 50E', 'Illinois',
       'Isles del Rosario', 'Wake Island', 'Isle of Man',
       'Nagasaki Prefecture', 'Liguaria', 'Slovenia', 'South shore ',
       'Buenos Aires Province', '330 to 350 miles east of Wake Island',
       'Nova Scotia', 'Gulf of Panama', 'Genoa  Province',
       'Abau Sub District, Central Province', 'Teramo', 'Red Sea State',
       'Curacao', 'Port Louis Province', 'Montserrado', 'Bay of Maputu',
       'Sofala Province', 'Salerno', 'Salerno Province', 'Taranto',
       'Naples Province', ' La Libertad', 'Sago Prefecture', 'Savona',
       'Southern Province', 'Jakarta Harbour', 'Singapore Harbor',
       'Calabria', 'Shatt-el-Arab River', 'Shatt-al-Arab River',
       'Tamaulipas', 'Calvados Archipelago', 'Shat-Al-Arab River',
       'Between Kwajalein Atoll & Johnston Island', 'Attica',
       'Adana Province', 'Bandar Mashur sea inlet', 'Saipan',
       'Carpathian Sea', 'Kwajalein', 'Dar-es-Salaam ',
       '"Head of the Gulf"', 'Ryukyu', ' North Carolina',
       'In transit between Tinian and Leyte', 'Northern Java', 'Tel Aviv',
       'Colon Province', '300 miles east of Luzon',
       'Bernardino Strait near Gulf of Leyte',
       'Off Samar Island in the Gulf of Leyte',
       'Lake Nicaragua (fresh water)', 'Pacific Ocean',
       'Near the Fiji Islands', '40 miles south of Naples ',
       'Northwest of Papua New Guinea', 'Between Hawaii and U.S.A.',
       'Off South American coast', 'Makora-Ulawa Province',
       '04.05N-13.23W', 'Midway Atoll',
       '300 miles east of St. Thomas (Virgin Islands)',
       'West of Ceylon (Sri  Lanka)', 'East Java', 'Camiguin Island',
       'Cay Sal Bank', '(Southwestern Pacific)', 'Panama City',
       'Off Libya', 'North of Pernambuco, Brazil', 'Off coast of Ecuador',
       'Trelawney Province', 'In Convoy OB 274', 'New Georgia',
       'Panama Bay (Pacific Ocean)', 'Bwagaoia', 'Western Papuan Gulf',
       'Torres Strait ', 'Carabobo', 'Ascension Bay', 'North China',
       'Lower San Juan River', 'Nicoya Peninsula', 'Basrah City',
       'West Bengal', 'Queensland ', 'Argyllshire', 'Arran', 'Argyll',
       'Fishing Grounds', 'Newfoundland', 'Isle of Wight',
       'Makira-Uluwa Province', 'Northern (Oro) Province', 'Herzliyah',
       'Elqui Province', 'Istanbul', 'St Michael Parish',
       'Barlavento Islands', 'Viti Levu Island', 'Bay of Fundy', 'Manila',
       'French Southern Territories', 'Niua ', 'Black River',
       'Phoenix Islands', 'Cienfuegos Province', 'Valencia',
       'Santiago Island', 'Near Puntarenas', 'Porto Seguro',
       'Salinas Bay', 'Golfo di Genova in the Ligurian Sea',
       'Sants-Montjic', 'South of the Equator ', 'Bay of Monaco',
       'Valencia ', 'Vancouver',
       '2 to 3 miles off Taboguilla Island, Pacific Ocean', 'Dorset',
       '150 miles offshore', 'Galica', 'Demerara County', 'Vera Cruz',
       ' Manila Bay', 'Lucy', 'East Yorkshire', 'Westmoreland Parish',
       'Cavite Province, Luzon', 'Cape Haitien', 'Leyte', 'Halifax',
       'Turtle Bogue', '60 miles north of San Domingo in the West Indies',
       'Colon', 'Off Ireland', 'Mediterranean Sea', 'Gran Canaria',
       'Apolima Strait', 'Essequibo', 'Lagos ', 'Trieste', '5aint-Denis',
       'Viti Levu group', 'Balearics', 'Mlaga ', 'Chatham Islands',
       'Georges Bank', 'Zambesi River', 'Coln Province',
       '30 nm from Singapore', 'Andalucia', 'Sfax',
       'South Atlantic Ocean', 'Galicia', 'Gulf of Suez', 'Java',
       'Tiburon Peninsula', 'Oaxaca', 'Harare Province',
       'Khnh Ha Province', 'Maluku Province', 'Suez Canal',
       ' Nusa Tenggara', 'Between Noumea & Sydney',
       'Villa Clara Province', 'Ancona Province', 'Quezon',
       'Rio San Juan', 'Southern Cyprus', 'Syracuse', 'Western Viscayas',
       'Mindoro Occidental', 'Negros ', 'Imperia Province', 'Muala',
       'East coast', 'Ratak ', 'Socotra Islands', 'Off Cape Haitien',
       'Moluccas', 'Bocas del Toro', 'Provence', 'Bay of Campeche',
       'Rangoon', 'Bay of Bengal', 'Bayelsa State', 'South Island?',
       'Norfolk Island', 'Brittany', 'Line Islands', 'Woodlark Islands',
       'Munxar Reef', 'Northern Peloponnese', 'Between Perth & Colombo',
       'Gujarat', 'Lukovo', 'Corts', 'Gulf of California',
       'Somewhere between Philadelphia and Hiogo, Japan', ' New Jersey',
       "Cte d'Azur  ", 'Maldonado coast', 'Western Banks',
       'Andaman Islands', 'Off the coast of West Africa',
       'Misamis Oriental', 'Strait of Messina', 'Hoogly River',
       'Cyclades archipelago', 'Mount Lebanon',
       'Between Hastings & Fairlight, Sussex', 'Veracruz ',
       'Gilbert Islands', 'Lomaiviti Provine',
       'Off the coast of South America', '22N, 88E',
       'Matanzas Province (north coast)', 'Alpes Maritime', 'Edinburgh',
       'Eastern Catalona', '300 miles east of Mauritius',
       'Foveaux Strait', 'Sumatra', 'Conakry Region', 'Corfu', 'Malaga',
       'Bonin Islands', 'Fernando Po Island', 'Mangaia Island',
       'New York ', 'Corfu ', 'Between Australia & USA', 'Tongatapu',
       'Norfolk', 'Island of St. Thomas', 'Cumberland', 'Sanma Province',
       "3539 : 1658'", 'CUBA', 'Western Area ', 'Paraiba', 'Cape Coast',
       'Rivers State', 'Maharashtra', 'St. Anne', 'St Helena',
       "Cte d'Azur ", 'Skagerrak arm of the North Sea',
       'Las Perlas archipelago', 'Bardestrand', 'Southwest coast',
       'Kerala', 'Nice & Marseilles', 'Magarita or Cubagua Islands',
       'Ionian Sea', 'Piraeus', 'Off Thessaly', 'Bocas del Toro Province',
       'Rocha ', 'Gulf of Tadjoura', 'Cyrenaica', 'Northern Province',
       'Los Roques  Islands', 'Dodecanese Islands', 'Malaita Province',
       'South Korea', 'Milne Bay  Province', 'Island of Volos',
       'Amirante Islands', 'Kadavu Island Group', 'Toamasina Province',
       'Riau Province', 'Bikini Atoll',
       'Between New Ireland & New Britain', 'Ba Ria-Vung Tau  Province',
       'Moala Island'], dtype=object)

In [82]:
def limpiar_area(zona):
       
    # Reemplazar los NaN por 'Unknown'
    if pd.isna(zona):
        return 'Unknown'
    
    # Si el string está vacío, regresar 'Unknown'
    if not zona:
        return 'Unknown'
    
    # Quitar comas, signos de interrogación, dos puntos, 'to' y 'miles'
    zona = re.sub(r'[\'"\,?:]|to|miles', '', zona)
    
    # Eliminar letras que estén solas
    zona = re.sub(r'\b[a-z]\b', '', zona)

    # Eliminar los números
    zona = re.sub(r'\d', '', zona)
    
    zona = zona.title()

    zona = zona.strip()

    return zona

In [83]:
data["Area"] = data["Area"].apply(limpiar_area)

In [1]:
# Modificaciones puntuales
data['Area'] = data['Area'].str.replace('N W', 'Unknown')
data['Area'] = data['Area'].str.replace('S / E', 'Unknown')
data['Area'] = data['Area'].str.replace('.N-.W', 'Unknown')
data['Area'] = data['Area'].str.replace('N E', 'Unknown')

NameError: name 'data' is not defined

In [89]:
pd.unique(data['Area'])

array(['California', 'Georgia', 'Hawaii', 'New South Wales', 'Colima',
       'Pernambuco', 'Florida', 'Queensland', 'South Carolina',
       'Cornwall', 'Westerm Australia', 'Eastern Cape Province',
       'Hua Hin', 'Cocos Island', 'Western Australia', 'Alifu Alifu All',
       'Western Cape Province', 'New Providence', 'Alagoas', 'Unknown',
       'Vicria', 'Kwazulu-Natal', 'Boi Island Vicria',
       'Galapagos Islands', 'Fernando De Noronha', 'Sepang',
       'Holquin Province', 'Pamplemousses', 'South Australia',
       'North Island', 'New York', 'Canary Islands', 'Upolu Island',
       'Shizuoka Prefecture', 'Texas', 'Castelln', 'Massachusetts',
       'Red Sea Protecrate', 'New Providence District',
       'Off Grand Bahama Island', 'Ascension Island', 'New Jersey',
       'Majorca', 'Washingn', 'Tabasco', 'Anjouan', 'Ibiza Island',
       'Marquesas', 'South Devon', 'Sharjah', 'Baja California Sur',
       'Saint-Leu', 'South Island', 'Luzon Island', 'Great Exuma',
       'Saint-Andre', 'Bimini', 'Bali', 'Tuamos', 'Oregon',
       'North Province', 'New Providence Island', 'Alicante Province',
       'Hong Kong', 'Kochi Prefecture', 'Tasmania', 'Abaco Islands',
       'Alabama', 'North Carolina', 'Isla Provedencia', 'Suez',
       'Grand Terre', 'Boa Vista Island', 'Vanua Levu',
       'Santa Catarina State', 'South Province', 'Altagracia Province',
       'Grand Cayman', 'Balnerio Cambori', 'Fujairah Emirate',
       'Grand Canary Island', 'Inhambane Province', 'Phuket', 'Alicante',
       'Guanacaste', 'Bora Bora', 'Grand Bahama Island', 'Le Port',
       'Rangiroa', 'Saint-Gilles-Les-Bains', 'Sardinia', 'Sinaloa',
       'Central Tuamotu', 'Dtang-Sal', 'Granada',
       'Cargados Carajos Shoals (St. Brandon)', 'Moorea', 'Catalonia',
       'Maryland', 'Louisiana', 'West End', 'Delaware',
       'Atsumi Peninsula', 'Palmyra All', 'Wallis And Futuna',
       'Baie De Sainte-Marie', 'Society Islands', 'Trinidad',
       'Okinawa Prefecture', 'Se Of Tarawa All', 'Southern District',
       'Bay Of Biscay', 'Quintana Roo', 'Exuma Islands', 'Saint-Paul',
       'Taitung', 'Kingsn Parish', 'Santa Cruz Island', 'Saint-Gilles',
       'Tuamotus', 'Eleuthera', 'St. Catherine', 'Palawan',
       'Mercury Islands', 'Delta', 'Vavau', 'Inner Hebrides', 'Saint Leu',
       'Trois-Bassins', 'British Colombia', 'Guerrero', 'Saint-Benoit',
       'Tabuk Province', 'Anfagasta Province', 'St Johns', 'Santa Elena',
       'East New Britain', 'Bois-Blanc', 'Moray', 'Puer Rico',
       'Saman Province', 'Coast Province', 'Central Province',
       'Primorsky Krai',
       'Peter The Great Bay Khasan Primorsky Krai (Far East)',
       'Telyakovsky Bay Khasan  Primorsky Krai (Far East)', 'Praslin',
       'Sucre', 'Middle Caicos', 'Caicos Bank', 'San Andrs Archipelago',
       'Kedah', 'Umm Al Qaywayan Province', 'Vitu Levu',
       'South Sinai Peninsula', 'Loyalty Islands', 'Saint Gilles',
       'Maine', 'Virginia', 'Haapi', 'Western Province', 'Jeju Province',
       'Binh Dinh Province', 'Antsiranana Province', 'Sinai Peninsula',
       'Off Vanua Levu', 'Merizo', 'Rio Grande Do Sul', 'Dubai',
       'Torres Strait', 'Eastern Province', 'Eastern Cape  Province',
       'Mapu Province', 'Bocas', 'Fife', 'Devon', 'Makira-Ulawa Province',
       'Mombasa', 'Catalunya', 'St. Johns Reef', 'Off Green Island',
       'North Region', 'Batangas Province', 'Strait Of Malacca',
       'Guantanamo Province', 'Maranho', 'Red Sea', 'Batanes Provine',
       'Luzon', 'Northern Terriry', 'Split-Dalmatia Count', 'North Devon',
       'Us Virgin Islands', 'San Carlos', 'Cabo San Lucas', 'Sussex',
       'Bahia', 'Easter Ross', 'Guerro', 'Yasawa Islands',
       'Northern Bahamas', 'Tokyo Bay', 'Baja California', 'Green Bay',
       'Marovo Lagoon', 'Terriry Of Cocos (Keeling) Islands',
       'Oslo Fjord', 'Kent', 'Bird Island', 'Providenciales',
       'Bimini Islands', 'Muhafazat Hadramawt', 'Cook Islans',
       'Surigao Del Norte', 'Between Somalia & Yemen', 'Ambergris Caye',
       'Saint-Pierre', 'Kentucky', 'Andros Islands', 'Guam',
       'Western Area', 'From Antigua', 'From Land',
       'Nm West Of The Canary Islands', 'Simpson Bay', 'East Wall',
       'Inner Islands', 'Shanghai', 'Malampa Province',
       'South Chungchong Province', 'Bay Islands', 'New Mexico',
       'Santa Isabel Province', 'Santiago De Cuba Province',
       'Camaguey Province', 'Conservatria District',
       'Kuril Islands In The Pacific', 'Wakayama Prefecture', 'Nukualofa',
       'Saint-Benot', 'South Island Near Karitane North Of Dunedin',
       'Rocha', 'Northlands', 'Anzoategui', 'Cook Islands', 'Tamil Nadu',
       'Pearl Islands', 'Taveuni', 'Johnsn All', 'Baatan',
       'Rio De Janeiro', 'Nueva Esparta', 'Southland',
       'North Pacific Coast', 'Caroline Islands', 'Cheshire',
       'Louisiade Archipelago',
       'Kwazulu-Natal Between Port Edward And Port St Johns',
       'Milne Bay Province', 'Cikobia Island (North Of Vanua Levu)',
       'Rayong Province', 'Zamboanga Del Sur Province',
       'Rio Grande De Norte',
       'Off The Western Coast Of Peninsular Malaysia', 'New Brunswick',
       'Miyako Island', 'Alaska', 'Minerva Reef', 'Madang Province',
       'Worcestershire', 'Phang Nga Province', 'Alinglaplap All',
       'Adriatic Sea', 'Ralik Chain', 'Grand Baie',
       'L Etang Sal-Les-Bains', 'Southern Japan', 'Cap Vert Peninsula',
       'Marches Region', 'Berry Islands', 'Transvaal', 'Gaza',
       'Grandanse', 'Beaufonds', 'Miyako', 'Letang-Sale',
       'Chatham Islands', 'South Sinai Gulf Of Aqaba', 'Cat Cay',
       'Missouri', 'Off The North Coast',
       'Chatham Islands East Of New  Zealand', 'Saint-Denis',
       'Mississippi', 'Clearwater Bay', 'New Terriries',
       'Aichi Prefecture', 'Tafea Province', 'Kagoshima Prefecture',
       'Saint-Joseph', 'Banaadir Region', 'La Libertad', 'Costa Blanca',
       'Walkers Cay', 'On The Kowloon Penisula South Of Sai Kung',
       'Ehime Prefecture', 'Tongapatu Group', 'West Africa',
       'Wakaya Island', 'Mexico / Caribbean Sea', 'Antarctic Ocean',
       'La Saline-Les-Bains', 'Sea Of Japan', 'Tavenui', 'Ligurian Sea',
       'Letang-Sal', 'Kowloon Peninsula', 'Port Shelter',
       'Laucala Island', 'Sainte-Marie', 'Great Exuma Island',
       'Sainte-Suzanne', 'Tuscany', 'Tyrrhenian Sea', 'New Ireland',
       'Valpariso Province', 'Viscayan Sea', 'Manfredonia',
       'Tokyo Prefecture', 'Saint-Louis', 'Mindoro',
       'Between Dr And Puer Rico', 'Between Honiara & Isabel Island',
       'Florida Straits', 'Gulf Of Lyons', 'Cdiz', 'Sicily',
       'Andikira Fokithes', 'Central Philippines', 'Rhode Island',
       'Northwest Italy', 'English Channel', 'North & South Carolina',
       'Kumamo Prefecture', 'Biserta', 'Saint-Philippe', 'Chungnam',
       'Eronogo Region', 'Coquimbo', 'Pagasitikos Gulf',
       'St. Marys Parish', 'Romblon Province', 'Lamu Archipelago',
       'Los Vilos', 'Island Of Kos', 'Madeira Islands',
       'Ho Ha Wan Marine Park', 'Southern Thailand', 'Golfo De Venezia',
       'Ralik Archipelago', 'South China Sea   From Hong Kong',
       'Reggio Calabria Province', 'Mirs Bay', 'Genoa Province',
       'Ganges-Brahmaputra Delta', 'Split-Dalmatia County',
       'Primorje-Gorski Kotar County', 'Aulong Island',
       'Western Caroline Islands', 'Antibes', 'Illeginni All',
       'Istria County', 'Between Beira & Mapu', 'Khuzestan Province',
       'Inhambe Province', 'Namonui All', 'Eastern Caroline Islands',
       'Western Caroline Islands (North Pacific Ocean)', 'Caribbean Sea',
       'St. Andrew Parish', 'Nm Southeast Of Manila', 'Limpopo River',
       'New Ireland Province', 'Zadar County', 'Basrah', 'Clarendon',
       'Moro Gulf', 'Johor', 'Magdalena Department', 'Mafia Island',
       'Gulf Province', 'Morobe Province', 'Limn Province',
       'Rombion Province', 'Veracruz', 'Brindisi Province',
       'Kagawa Prefecture', 'Liguria', 'Hamiln', 'Out Islands',
       'Mugla Province', 'Gibraltar', 'New Britain', 'Bay Of Mapu',
       'Duke Of York Islands', 'Taran Province', 'Northern Taiwan',
       'Admiralty Islands Manus Province', 'North Sumatra',
       'Southwest Of Oahu Hawaii', 'West Coast', 'East Sepik',
       'Near Bougainville (North Solomons)', 'East Of The Gulf Of Aqaba',
       'Bougainville (North Solomons)', 'Okayama Prefecture', 'San Blas',
       'Connecticut', 'Lau Group', 'Caribbean Coast', 'Vita Levu',
       'San Blas Islands', 'Puntarenas Province', 'Lomaloma Lau',
       'Between Southampn & Canary Islands',
       'South Coast East New Britain', 'Lau Province', 'Ysabel Island',
       'San Domingo', 'San Blas Coast', 'Thessaly',
       'Lomaiviti  Island Group', 'Rodrigues', 'Manus Island',
       'Pinas Bay', 'Grand Turk Island', 'Off Coast Of West Africa',
       'Sharon', 'Antalya Province', 'Northern District',
       'New Ireland Province Bismarck Archipelago', 'Cyclades',
       'Viti Levu', 'Off The Coromandel Peninsula North Island', 'Madang',
       'Guadalcanal Province', 'S E', 'Kwajalein All', 'East Flores',
       'Guerrrero', 'Western Luzon Island', 'Shefa Province',
       'From Bermuda',
       'Km Off The Coast Of Iran & Km From Mouth Of Persian Gulf',
       'Venice Province', 'Sandaun Province', 'Analia',
       'East New Britain Province', 'United Arab Emirates',
       'Wake Island (Enenkio)', 'Pennsylvania', '.N .W', 'Roncador Bank',
       'Western District', 'Enroute From Suez  Aden (Yemen)',
       'Southeast Of Okinawa', 'Eniwek All', 'Cap-Vert Peninsula',
       'Delagoa Bay', 'In The English Channel', 'Cook Strait',
       'Unknown Treated At Wick Scotland', 'Corregidor Island', 'Paget',
       'Casamance', 'Madang (Wo)', 'Between Timor & Darwin Australia',
       'Pacific Coast', 'St. Georges', 'Eastern  Province',
       'Northwest Of Viti Levu', 'West New Britain Province',
       'Rigo Subdistrict', 'Masbate', 'Southeast Of Sri Lanka',
       'Lomaiviti Province', 'Kadavu', 'Leyte Island', 'Orissa',
       'Hokkaido Prefecture', 'North Palawan', 'Queaon', 'Istria',
       'Panama', 'In The Gulf Stream', 'Mersin Province', 'Guyamas',
       'Between England & South Africa', 'Mindanao', 'Kikori River Mouth',
       'South Chungcheong Province', 'Ahirkapi Coast', 'Tutuila Island',
       'Between Hawaii & Wake Island', 'Taipei Hsien',
       'Ibaraki Prefecture', 'South Pacific Ocean', 'Canal Zone',
       'East Of Hawaii', 'Honiara', 'Yucatan Channel', 'Havana Province',
       'Karun River', 'Abau Subdistrictcentral Province',
       'New Britain Bismarck Archipelago', 'Estuaire Province',
       'Near Dakar Cap Vert Peninsula',
       'Near The Andaman & Nicobar Islands', 'Mozambique Channel',
       'Tyrrenian Sea', 'Congreve Channel', 'St. Thomas Bay', 'Madeira',
       'Between Comores & Madagascar', 'Corfu Island', 'West Of Hawaii',
       'Izo Islands', 'Open Sea', 'Aden',
       'New Ireland Bismarck Archipelago', 'Illinois',
       'Isles Del Rosario', 'Wake Island', 'Isle Of Man',
       'Nagasaki Prefecture', 'Liguaria', 'Slovenia', 'South Shore',
       'Buenos Aires Province', 'East Of Wake Island', 'Nova Scotia',
       'Gulf Of Panama', 'Genoa  Province',
       'Abau Sub District Central Province', 'Teramo', 'Red Sea State',
       'Curacao', 'Port Louis Province', 'Montserrado', 'Bay Of Maputu',
       'Sofala Province', 'Salerno', 'Salerno Province', 'Taran',
       'Naples Province', 'Sago Prefecture', 'Savona',
       'Southern Province', 'Jakarta Harbour', 'Singapore Harbor',
       'Calabria', 'Shatt-El-Arab River', 'Shatt-Al-Arab River',
       'Tamaulipas', 'Calvados Archipelago', 'Shat-Al-Arab River',
       'Between Kwajalein All & Johnsn Island', 'Attica',
       'Adana Province', 'Bandar Mashur Sea Inlet', 'Saipan',
       'Carpathian Sea', 'Kwajalein', 'Dar-Es-Salaam', 'Head Of The Gulf',
       'Ryukyu', 'In Transit Between Tinian And Leyte', 'Northern Java',
       'Tel Aviv', 'Colon Province', 'East Of Luzon',
       'Bernardino Strait Near Gulf Of Leyte',
       'Off Samar Island In The Gulf Of Leyte',
       'Lake Nicaragua (Fresh Water)', 'Pacific Ocean',
       'Near The Fiji Islands', 'South Of Naples',
       'Northwest Of Papua New Guinea', 'Between Hawaii And U.S.A.',
       'Off South American Coast', 'Makora-Ulawa Province', 'Midway All',
       'East Of St. Thomas (Virgin Islands)',
       'West Of Ceylon (Sri  Lanka)', 'East Java', 'Camiguin Island',
       'Cay Sal Bank', '(Southwestern Pacific)', 'Panama City',
       'Off Libya', 'North Of Pernambuco Brazil', 'Off Coast Of Ecuador',
       'Trelawney Province', 'In Convoy Ob', 'New Georgia',
       'Panama Bay (Pacific Ocean)', 'Bwagaoia', 'Western Papuan Gulf',
       'Carabobo', 'Ascension Bay', 'North China', 'Lower San Juan River',
       'Nicoya Peninsula', 'Basrah City', 'West Bengal', 'Argyllshire',
       'Arran', 'Argyll', 'Fishing Grounds', 'Newfoundland',
       'Isle Of Wight', 'Makira-Uluwa Province',
       'Northern (Oro) Province', 'Herzliyah', 'Elqui Province',
       'Istanbul', 'St Michael Parish', 'Barlaven Islands',
       'Viti Levu Island', 'Bay Of Fundy', 'Manila',
       'French Southern Terriries', 'Niua', 'Black River',
       'Phoenix Islands', 'Cienfuegos Province', 'Valencia',
       'Santiago Island', 'Near Puntarenas', 'Por Seguro', 'Salinas Bay',
       'Golfo Di Genova In The Ligurian Sea', 'Sants-Montjic',
       'South Of The Equar', 'Bay Of Monaco', 'Vancouver',
       'Off Taboguilla Island Pacific Ocean', 'Dorset', 'Offshore',
       'Galica', 'Demerara County', 'Vera Cruz', 'Manila Bay', 'Lucy',
       'East Yorkshire', 'Westmoreland Parish', 'Cavite Province Luzon',
       'Cape Haitien', 'Leyte', 'Halifax', 'Turtle Bogue',
       'North Of San Domingo In The West Indies', 'Colon', 'Off Ireland',
       'Mediterranean Sea', 'Gran Canaria', 'Apolima Strait', 'Essequibo',
       'Lagos', 'Trieste', 'Aint-Denis', 'Viti Levu Group', 'Balearics',
       'Mlaga', 'Georges Bank', 'Zambesi River', 'Coln Province',
       'Nm From Singapore', 'Andalucia', 'Sfax', 'South Atlantic Ocean',
       'Galicia', 'Gulf Of Suez', 'Java', 'Tiburon Peninsula', 'Oaxaca',
       'Harare Province', 'Khnh Ha Province', 'Maluku Province',
       'Suez Canal', 'Nusa Tenggara', 'Between Noumea & Sydney',
       'Villa Clara Province', 'Ancona Province', 'Quezon',
       'Rio San Juan', 'Southern Cyprus', 'Syracuse', 'Western Viscayas',
       'Mindoro Occidental', 'Negros', 'Imperia Province', 'Muala',
       'East Coast', 'Ratak', 'Socotra Islands', 'Off Cape Haitien',
       'Moluccas', 'Bocas Del Toro', 'Provence', 'Bay Of Campeche',
       'Rangoon', 'Bay Of Bengal', 'Bayelsa State', 'Norfolk Island',
       'Brittany', 'Line Islands', 'Woodlark Islands', 'Munxar Reef',
       'Northern Peloponnese', 'Between Perth & Colombo', 'Gujarat',
       'Lukovo', 'Corts', 'Gulf Of California',
       'Somewhere Between Philadelphia And Hiogo Japan', 'Cte Dazur',
       'Maldonado Coast', 'Western Banks', 'Andaman Islands',
       'Off The Coast Of West Africa', 'Misamis Oriental',
       'Strait Of Messina', 'Hoogly River', 'Cyclades Archipelago',
       'Mount Lebanon', 'Between Hastings & Fairlight Sussex',
       'Gilbert Islands', 'Lomaiviti Provine',
       'Off The Coast Of South America',
       'Matanzas Province (North Coast)', 'Alpes Maritime', 'Edinburgh',
       'Eastern Catalona', 'East Of Mauritius', 'Foveaux Strait',
       'Sumatra', 'Conakry Region', 'Corfu', 'Malaga', 'Bonin Islands',
       'Fernando Po Island', 'Mangaia Island', 'Between Australia & Usa',
       'Tongatapu', 'Norfolk', 'Island Of St. Thomas', 'Cumberland',
       'Sanma Province', '', 'Cuba', 'Paraiba', 'Cape Coast',
       'Rivers State', 'Maharashtra', 'St. Anne', 'St Helena',
       'Skagerrak Arm Of The North Sea', 'Las Perlas Archipelago',
       'Bardestrand', 'Southwest Coast', 'Kerala', 'Nice & Marseilles',
       'Magarita Or Cubagua Islands', 'Ionian Sea', 'Piraeus',
       'Off Thessaly', 'Bocas Del Toro Province', 'Gulf Of Tadjoura',
       'Cyrenaica', 'Northern Province', 'Los Roques  Islands',
       'Dodecanese Islands', 'Malaita Province', 'South Korea',
       'Milne Bay  Province', 'Island Of Volos', 'Amirante Islands',
       'Kadavu Island Group', 'Toamasina Province', 'Riau Province',
       'Bikini All', 'Between New Ireland & New Britain',
       'Ba Ria-Vung Tau  Province', 'Moala Island'], dtype=object)

In [86]:
data['Species '].value_counts()

Species
White shark                                                                                                                      163
Shark involvement prior to death was not confirmed                                                                               105
Invalid                                                                                                                          102
Shark involvement not confirmed                                                                                                   87
Tiger shark                                                                                                                       73
                                                                                                                                ...
2.1 to 2.4 m [7' to 8'] shark                                                                                                      1
1.2 m to 1.8 m [4' to 6'] shark                                                                                                    1
Porbeagle shark, 3 m [10']rk                                                                                                       1
White shark, 4.5 m [14'9"]                                                                                                         1
Said to involve a grey nurse shark that leapt out of the water and  seized the boy but species identification is questionable      1
Name: count, Length: 1547, dtype: int64

In [87]:
def limpiar_(x):               # funcion para extraer los numeros de los valores que hay en la columna
    
    num = re.findall('\d+' , x)
    
    if num:
        return int(num[0])
    
    else:
        return 0