In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_csv('../data/attacks.csv', encoding = 'utf-8', encoding_errors = 'ignore')

In [ ]:
pd.set_option('display.max_columns', None)

data.head()

In [ ]:
data.shape

In [ ]:
data.drop_duplicates().shape == data.shape

In [ ]:
data.drop_duplicates(inplace=True)

In [ ]:
data.shape

In [ ]:
porcent_null = (data.isnull().sum(axis = 1) / data.shape[1]) * 100  # se suman los nulos por las filas y esa suma se divide entre el numero total de columnas del dataframe, para obtener el porcentaje de valores nulos en cada fila 
porcent_bool = porcent_null > 75        # si el valor de una fila es True, significa que mas del 75% de valores de esa fila son nulos
data = data.loc[~porcent_bool, :]       # seleccionamos con loc las filas que no tengan mas del 75% de nulos invirtiendo 'porcent_bool' con '~', y todas las columnas con ':'

In [ ]:
data.shape

In [ ]:
data = data.reset_index(drop = True)    # aqui reseteamos los indices y ponemos la condicion 'drop = True', para borrar los indices anteriores
data.tail()

In [ ]:
data['Type'].value_counts()

In [ ]:
# Creo un diccionario con los valores a reemplazar y el valor nuevo
reempl = {'Boat': 'Boating', 'Boatomg': 'Boating'}

# Reemplazo los valores en la columna "Type"
data['Type'] = data['Type'].replace(reempl)

In [ ]:
data['Type'].value_counts()

In [ ]:
valor = 'Questionable'
filas_coincidentes = data[data['Type'] == valor].index          # filtrar por indice
data_seleccionado = data.loc[filas_coincidentes, ['Activity', 'Injury', 'Species ']]

data_seleccionado.head()

In [ ]:
data = data.drop([16, 20])

In [ ]:
data = data.reset_index(drop = True)    # aqui reseteamos los indices y ponemos la condicion 'drop = True', para borrar los indices anteriores

In [ ]:
data['Type'].value_counts()

In [ ]:
valor2 = 'Invalid'
filas_coincidentes2 = data[data['Type'] == valor2].index          # filtrar por indice
data_seleccionado2 = data.loc[filas_coincidentes2, ['Activity', 'Injury', 'Species ']]

data_seleccionado2.head(10)

In [ ]:
def limpiar_type(x):

    if pd.isnull(x):        # si es nulo lo convierte a x
        return x
    elif 'Unprovoked' in x:
        return 'Unprovoked'
    elif 'Provoked' in x:
        return 'Provoked'
    else:
        return 'Unprovoked'

In [ ]:
data.Type = data.Type.apply(limpiar_type)   # le aplicamos la funcion a la columna
data['Type'].value_counts()

In [ ]:
data.head()

In [ ]:
data['Sex '].value_counts()

In [ ]:
data.rename(columns = {'Sex ': 'Sex'}, inplace=True)    #renombrar una columna

In [ ]:
data['Sex'].value_counts()

In [ ]:
valor3 = '.'
filas_coincidentes3 = data[data['Sex'] == valor3].index          # filtrar por indice
data_seleccionado3 = data.loc[filas_coincidentes3, ['Activity', 'Injury', 'Species ', 'Name']]

data_seleccionado3

In [ ]:
data.loc[5435]

In [ ]:
def limpiar_sex(x):

    if pd.isnull(x):
        return x
    elif 'M' in x:
        return 'Male'
    elif 'F' in x:
        return 'Female'
    else:
        return 'Unknown'

In [ ]:
data.Sex = data.Sex.apply(limpiar_sex)
data['Sex'].value_counts()

In [ ]:
valor3 = 'Unknown'
filas_coincidentes3 = data[data['Sex'] == valor3].index          # filtrar por indice
data_seleccionado3 = data.loc[filas_coincidentes3, ['Activity', 'Injury', 'Species ', 'Name']]

data_seleccionado3

In [ ]:
data.head()

In [ ]:
data['Fatal (Y/N)'].value_counts()

In [ ]:
valor4 = 'N '
filas_coincidentes4 = data[data['Fatal (Y/N)'] == valor4].index          # filtrar por indice
data_seleccionado4 = data.loc[filas_coincidentes4, ['Activity', 'Injury', 'Species ', 'Name']]

data_seleccionado4

In [ ]:
data.loc[784]

In [ ]:
data.rename(columns = {'Fatal (Y/N)': 'Fatal'}, inplace=True)

In [ ]:
data['Fatal'].value_counts()

In [ ]:
def limpiar_fatal(x):
    x = str(x).lower().strip()     # convertimos todo en str, lo pasamos a minusculas y quitamos los espacios que tengan tanto por der como por izq
    if x == 'y':
        return 'Yes'
    elif x == 'n':
        return 'No'
    else:
        return 'Unknown'

In [ ]:
data['Fatal'] = data['Fatal'].apply(limpiar_fatal)

In [ ]:
data['Fatal'].value_counts()

In [ ]:
data.head()

In [ ]:
pd.unique(data['Year'])

In [ ]:
data.Year.value_counts().head()

In [ ]:
def limpiar_year(x):
    if pd.isna(x):
        return 0
    elif len(str(int(x))) == 4:
        return x
    else:
        return 0

In [ ]:
data['Year'] = data['Year'].apply(limpiar_year)

In [ ]:
pd.unique(data['Year'])

In [ ]:
data['Year'] = data['Year'].astype(int)

In [ ]:
data['Year'] = data['Year'].replace(0, 'Unknown')

In [ ]:
pd.unique(data['Year'])

In [ ]:
data.head()

In [ ]:
data['Country'].value_counts()

In [ ]:
pd.unique(data.Country)

In [ ]:
#data.insert(5, 'Region', '')

In [ ]:
import re

def limpiar_country(string):
    if re.search(r'\b(OCEAN|SEA|PACIFIC|AFRICA|ASIA|DIEGO|BETWEEN)\b', string, re.IGNORECASE):
        return 'UNKNOWN'
    else:
        return string


# Para crear region con los oceanos

#def limpiar_country(row):
#    if isinstance(row['Country'], str) and re.search(r'\b(OCEAN|SEA|PACIFIC|AFRICA|ASIA)\b', row['Country'], re.IGNORECASE):
#        return pd.Series({'Country': 'UNKNOWN', 'Region': row['Country']})
#    else:
#        return pd.Series({'Country': row['Country'], 'Region': row['Region']})

In [ ]:
# Convierte todo en mayúsculas y rellena nulos con 'UNKNOWN'
data['Country'] = data['Country'].str.upper().str.strip().fillna('UNKNOWN')

#data['Region'] = data['Region'].str.upper().str.strip().fillna('UNKNOWN')

# Elimina espacios y signos de interrogación de los nombres de los países
data['Country'] = data['Country'].str.replace(r'?', '').str.strip()
data['Country'] = data['Country'].str.replace(r'&', '/')

#data['Region'] = data['Region'].str.replace(r'?', '').str.strip()

# Modificaciones puntuales
data['Country'] = data['Country'].str.replace('ISLANDAS', 'ISLANDS')
data['Country'] = data['Country'].str.replace('(UAE)', '').str.strip()
data['Country'] = data['Country'].str.replace('(SRI LANKA)', '').str.strip()
data['Country'] = data['Country'].str.replace('DIEGO GARCIA', 'UNKNOWN')
data['Country'] = data['Country'].str.replace('BETWEEN PORTUGAL / INDIA', 'UNKNOWN')

#data['Region'] = data['Region'].str.replace('', 'UNKNOWN')

In [ ]:
data['Country'] = data['Country'].apply(limpiar_country)

# Para aplicar la funcion de region

#columns_to_clean = ['Country', 'Region']
#data[columns_to_clean] = data[columns_to_clean].apply(limpiar_country, axis=1)

# Rellenar los valores NaN en la columna "Region" con una cadena vacía
#data['Region'] = data['Region'].fillna('')

In [ ]:
pd.unique(data.Country)

In [ ]:
data['Country'].value_counts()

In [ ]:
data.head()

In [ ]:
data.shape

In [ ]:
data.Age.value_counts()

In [ ]:
pd.unique(data.Age)

In [ ]:
#def limpiar_age(x):
    # Reemplazar los NaN por 'Unknown'
#    if pd.isna(x):
#        return 'Unknown'
    
    # Convertir strings completamente en palabras a 'Unknown'
#    if not re.match(r'^\d+|\d+\.\d+$', x):
#        return 'Unknown'
    
    # Reemplazar comillas, signos de interrogación por nada
#    x = re.sub(r'[\'"\?]', '', x)
    
    # Reemplazar strings entre paréntesis por 'Unknown'
#    x = re.sub(r'\(.*\)', 'Unknown', x)
    
#    return x

In [ ]:
#data['Age'] = data.Age.apply(limpiar_age)

In [ ]:
def limpiar_edad(edad):
    # Convertir la cadena a minúsculas y eliminar los espacios en blanco
    edad = str(edad).lower().replace(" ", "")
    
    # Reemplazar los NaN por 'Unknown'
    if pd.isna(edad):
        return 'Unknown'
    
    # Si la edad contiene un rango, calcular la edad media del rango
    #if "-" in edad:
    #    edades = re.findall(r'\d+', edad)
    #    media = (int(edades[0]) + int(edades[1])) / 2
    #    return int(media)
    
    # Si la edad contiene la palabra "months", convertir a años
    if "month" in edad:
        meses = re.findall(r'\d+', edad)
        return int(int(meses[0]) / 12)
    
    # Convertir strings completamente en palabras a 'Unknown'
    if not re.match(r'^\d+|\d+\.\d+$', edad):
        return 'Unknown'
        
    # Reemplazar strings entre paréntesis por 'Unknown'
    x = re.sub(r'\(.*\)', 'Unknown', edad)

    # Eliminar todos los caracteres que no sean dígitos y convertir a entero
    #edad = re.sub(r'\D', '', edad)
    #return int(edad)

# Aplicar la función "limpiar_edad" a la columna "Age" del marco de datos
data["Age"] = data["Age"].apply(limpiar_edad)

In [ ]:
pd.unique(data.Age)