In [143]:
import pandas as pd
import numpy as np

In [144]:
data = pd.read_csv('../data/attacks.csv', encoding = 'utf-8', encoding_errors = 'ignore')

In [145]:
pd.set_option('display.max_columns', None)

data.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonMcNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [146]:
data.shape

(25723, 24)

In [147]:
data.drop_duplicates().shape == data.shape

False

In [148]:
data.drop_duplicates(inplace=True)

In [149]:
data.shape

(6312, 24)

In [150]:
porcent_null = (data.isnull().sum(axis = 1) / data.shape[1]) * 100  # se suman los nulos por las filas y esa suma se divide entre el numero total de columnas del dataframe, para obtener el porcentaje de valores nulos en cada fila 
porcent_bool = porcent_null > 75        # si el valor de una fila es True, significa que mas del 75% de valores de esa fila son nulos
data = data.loc[~porcent_bool, :]       # seleccionamos con loc las filas que no tengan mas del 75% de nulos invirtiendo 'porcent_bool' con '~', y todas las columnas con ':'

In [151]:
data.shape

(6302, 24)

In [152]:
data = data.reset_index(drop = True)    # aqui reseteamos los indices y ponemos la condicion 'drop = True', para borrar los indices anteriores
data.tail()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
6297,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0,NaN,NaN
6298,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,NaN,NaN
6299,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN
6300,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8N, 79W",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,NaN,NaN
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN

In [153]:
data['Type'].value_counts()

Type
Unprovoked      4595
Provoked         574
Invalid          547
Sea Disaster     239
Boating          203
Boat             137
Questionable       2
Boatomg            1
Name: count, dtype: int64

In [154]:
# Creo un diccionario con los valores a reemplazar y el valor nuevo
reempl = {'Boat': 'Boating', 'Boatomg': 'Boating'}

# Reemplazo los valores en la columna "Type"
data['Type'] = data['Type'].replace(reempl)

In [155]:
data['Type'].value_counts()

Type
Unprovoked      4595
Provoked         574
Invalid          547
Boating          341
Sea Disaster     239
Questionable       2
Name: count, dtype: int64

In [156]:
valor = 'Questionable'
filas_coincidentes = data[data['Type'] == valor].index          # filtrar por indice
data_seleccionado = data.loc[filas_coincidentes, ['Activity', 'Injury', 'Species ']]

data_seleccionado.head()

   Activity                        Injury                         Species
16  Surfing  No injury, surfboard damaged  Shark involvement not confirmed
20  Surfing                     No injury                     Questionable

In [157]:
data = data.drop([16, 20])

In [158]:
data = data.reset_index(drop = True)    # aqui reseteamos los indices y ponemos la condicion 'drop = True', para borrar los indices anteriores

In [159]:
data['Type'].value_counts()

Type
Unprovoked      4595
Provoked         574
Invalid          547
Boating          341
Sea Disaster     239
Name: count, dtype: int64

In [160]:
valor2 = 'Invalid'
filas_coincidentes2 = data[data['Type'] == valor2].index          # filtrar por indice
data_seleccionado2 = data.loc[filas_coincidentes2, ['Activity', 'Injury', 'Species ']]

data_seleccionado2.head(10)

,Activity,Injury,Species
2,Surfing,Injury to left lower leg from surfboard skeg,NaN
13,Fishing,Injured by teeth of a dead porbeagle shark he ...,Invalid incident
29,Fishing,Injury to ankle from marine animal trapped in ...,Shark involvement not confirmed
41,Swimming,"Collision / No injury, no attack",Possibly a wobbegong
42,Cleaning fish,Lacerations to 4 toes of right foot,"Injury believed caused by an eel, not a shark"
44,Spearfishing,"No injury no attack. This is considerd an ""enc...",2m shark
74,Scuba Diving,FATAL,Death may have been due to drowning
77,Surfing,"Lacerations to right ankle, foot & toe",Questionable
82,Scuba Diving,"FATAL, but death was probably due to drowning",NaN
96,Swimming,Lacerations to left foot,Shark involvement questionable

In [161]:
data['Type'] = data['Type'].replace(['Boating', 'Invalid', 'Sea Disaster'], 'Unprovoked')

In [162]:
data['Type'].value_counts()

Type
Unprovoked    5722
Provoked       574
Name: count, dtype: int64

In [163]:
data.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Unprovoked,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonMcNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Unprovoked,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [164]:
data['Sex '].value_counts()

Sex
M      5092
F       637
M         2
N         2
lli       1
.         1
Name: count, dtype: int64

In [165]:
data.rename(columns = {'Sex ': 'Sex'}, inplace=True)

In [166]:
data['Sex'].value_counts()

Sex
M      5092
F       637
M         2
N         2
lli       1
.         1
Name: count, dtype: int64

In [167]:
valor3 = '.'
filas_coincidentes3 = data[data['Sex'] == valor3].index          # filtrar por indice
data_seleccionado3 = data.loc[filas_coincidentes3, ['Activity', 'Injury', 'Species ', 'Name']]

data_seleccionado3

,Activity,Injury,Species,Name
5435,.,"Remains of 3 humans recovered from shark, but ...",Allegedly a 33-foot shark,NaN

In [168]:
data.loc[5435]

Case Number                                                    1908.06.02.R
Date                                                   Reported 02-Jun-1908
Year                                                                 1908.0
Type                                                             Unprovoked
Country                                                    PAPUA NEW GUINEA
Area                                                            New Britain
Location                                                             Matupi
Activity                                                                  .
Name                                                                    NaN
Sex                                                                       .
Age                                                                     NaN
Injury                    Remains of 3 humans recovered from shark, but ...
Fatal (Y/N)                                                               Y
Time                                                                    NaN
Species                                           Allegedly a 33-foot shark
Investigator or Source                            Taranaki Herald, 6/2/1908
pdf                                                 1908.06.02.R-Matupi.pdf
href formula              http://sharkattackfile.net/spreadsheets/pdf_di...
href                      http://sharkattackfile.net/spreadsheets/pdf_di...
Case Number.1                                                  1908.06.02.R
Case Number.2                                                  1908.06.02.R
original order                                                        866.0
Unnamed: 22                                                             NaN
Unnamed: 23                                                             NaN
Name: 5435, dtype: object

In [171]:
def limpiar_sex(x):

    if pd.isnull(x):
        return x
    elif 'M' in x:
        return 'Male'
    elif 'F' in x:
        return 'Female'
    else:
        return 'Unknown'

In [172]:
data.Sex = data.Sex.apply(limpiar_sex)
data['Sex'].value_counts()

Sex
Male       5094
Female      637
Unknown       4
Name: count, dtype: int64

In [173]:
valor3 = 'Unknown'
filas_coincidentes3 = data[data['Sex'] == valor3].index          # filtrar por indice
data_seleccionado3 = data.loc[filas_coincidentes3, ['Activity', 'Injury', 'Species ', 'Name']]

data_seleccionado3

,Activity,Injury,Species,Name
1622,Surfing,"Lacerations to hand, knee & thigh",5.5 m [18'] white shark,Brian Kang
4936,Fishing,No injury to occupants Sharks continually foll...,"Blue pointer, 11'","18' boat, occupants William & Leslie Newton"
5435,.,"Remains of 3 humans recovered from shark, but ...",Allegedly a 33-foot shark,NaN
6129,Standing on landed shark's tail,"FATAL, PROVOKED INCIDENT",12' shark,Stephen Pettigew